#SomeSlider
{
    padding-top: 20px;

}
#Photographer
{
    margin-top: 30px;
    width: 100%;
    height: 540px;

}

#Serviss
{
    margin-left: 20px;
    float: left;
    width: 400px;
    height: 100%;

}

#Serviss_text
{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    color: white;
}

#Serviss_img
{
    width: 400px;
    height: 400px;
    background-color: #2D7CFA;
    margin: 0 auto;
    position:relative;
}
#Serviss_Head
{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 48px;
    font-family: MyFont, 'Comic Sans MS', cursive;
    color: white;
}
#Serviss_text_Type
{
    width: 100%;
    font-size: 24px;
    height: 24px;
    color: white;
}

#Serviss_text_Cost
{
    margin-top: 4px;
    width: 100%;
    font-size: 24px;
    height: 24px;
    color: #33CCFF;
}
#Serviss_text_Button
{
    width: 46%;
    margin-left: 27%;
    margin-top: 20px;
    height: 48px;
    color: white;
    line-height: 40px;
    background-color: #295480;
    border: 4px solid white;
    border-radius: 16px;
}

#Serviss_img img{
    margin:0;
    position:absolute;
    top:0px;
    left:0px;
    clip:rect(0px 400px 400px 0px);
}

#allServiss
{
    margin: 0 auto;
    margin-top: 20px;
    width: 1260px;
}

#hr1
{
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    height: 2px;
    background-image: -webkit-linear-gradient(left,transparent 0,#fff 49%,transparent 100%);
}

#hr2
{
    margin-top: 24px;
    width: 70%;
    margin-left: 15%;
    height: 2px;
    background-image: -webkit-linear-gradient(left,transparent 0,#fff 49%,transparent 100%);
}

#EgorPidr
{
    margin-top: 14px;
    font-family: MyFont, 'Comic Sans MS', cursive;
    color: white;
    text-align: center;
    font-size: 48px;
}


#AllPortfoli
{
    margin-top: 50px;
    padding-top: 40px;
    background-color: #0D2E50;
    height: 840px;
    width: 100%;
}

#Portfolio_Head
{
    width: 100%;
    height: 42px;
    font-size: 48px;
    line-height: 42px;
    color: white;
    font-family: MyFont, 'Comic Sans MS', cursive;
    text-align: center;
}

#Portfolio_IMG
{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 300px;
}

#Portfolio_All_IMG
{
    padding-top: 40px;
    margin: 0 auto;
    width: 1260px;
    height: 700px;
}

#SomeSheet
{
    width: 300px;
    height: 300px;
    background-color: #2D7CFA;
    margin: 0 auto;
    position:relative;
}

#SomeSheet img{
    margin:0;
    position:absolute;
    top:0px;
    left:0px;
    clip:rect(0px 300px 300px 0px);
}

#ContactUs
{
    background-color: #008895;
    width: 100%;
    height: 180px;
}

#MainInf
{
    float: left;
    width: 33.3%;
    height: 180px;
}
#WhatICanDo
{
    background-color: #00535B;
    float: left;
    width: 33.3%;
    height: 180px;
    background-color: #0A4046;
}
#WriteMe
{
    padding-top: 156px;
    text-align: center;
    float: left;
    width: 33.3%;
    height: 180px;
    background-color: #1E656B;
}

#contact_head
{
    font-family: MyFont, 'Comic Sans MS', cursive;
    font-size: 48px;
    margin-top: 18px;
    color: white;
    margin-left: 5px;
}
#Contact_Phone
{
    padding-top: 2px;
    line-height: 30px;
    font-family: Normaltext, 'Comic Sans MS', cursive;
    font-size: 24px;
    margin-top: 40px;
    margin-left: 15px;
    color: #000C46;
}

#Serviss_text_bot
{
    padding: 10px;
    color: white;
    font-size: 17px;
    padding-top: 65px;
    text-align: justify;
}